.aryan{
    padding-left:2% !important;
    min-height:80px !important;
    font-size:2rem !important;

}
.navbar-brand{
    font-size:1.4rem !important;
}
.ml-auto{
    margin-right:10% !important;
}
.nav-item{
    font-size:1.4rem !important;
}
.inp{
    max-width:200px !important;
}